div {
  border: 1px solid black;
  background-color: yellow;
  margin: 5px;
  padding: 5px;
}

#headerBox {}

.linksBox {}

a {}

a:visited {}

a:hover {}

body {
  background-color: black;
}

#content {
  border: 2px solid #33333FF;
  width: 60%;
  margin: auto;
  background-color: red;
}

@media (max-width: 600px) {
  #content {
    width: 100%;
  }

  body {
    background-color: white;
  }
}
